 html, body {
	 height: 100%;
	 font-weight:400;
 }
 
 .h1, .h2, .h3, .h4, .h5, .h6, a, abbr, body, cite, dd, dl, dt, h1, h2, h3, h4, h5, h6, iframe, input, li, object, ol, p, pre, span, ul {
    font-family: "Microsoft YaHei","SF Pro Display",Roboto,Noto,Arial,"PingFang SC",sans-serif;
}
 

        .clearfix:before, .clearfix:after {
            display: table;
            content: "";    /*不用有内容也可以*/
        }

        .clearfix:after {
            clear: both;
        }

        .clearfix {
            *zoom: 1;
        }
.mediaContainer{
    min-width: 90%;
    max-width: 95%;
    margin: 0px auto;
}

#img_head_left{
    height: 80px;
    line-height: 60px;
    font-size: 24px;
    font-weight: bold;
    float:left;
}

a{
	color:	black;
	text-decoration:none;
	font-size: 16px;
}

#menu table{
	padding-top:10px;
	padding-bottom: 10px;

}
/* 选中时的颜色 */
.tree-node-selected{
	background: #88d8ff;
}
/* 选中时的颜色 */
.datagrid-row-selected{
	background: #c4e4ff;  
}

/*id选择器与标签选择器混合用 */
#menu a{
	color:	white;
	text-decoration:none;
	font-size: 19px;
}

#menu img{
	height:20px;
	width: 20px;
	margin-right: 6px;
	vertical-align: inherit;
}
.deviceHeadImg{
	height:40px;
	width: 40px;
	margin-right: 6px;
}


/* 树形样式 */
.tree-node {
    height: 18px;
    white-space: nowrap;
    cursor: pointer;
  /*   padding-top: 10px; */
    padding-bottom: 20px;
}
#tt .tree-title,#tt .tree-title a{   
	font-size: 17px;
	padding-top:10px;
	padding-bottom:10px;
}
#tt li{font-size:18px;}

#orgList .tree-title,#orgList .tree-title a{
	font-size: 22px;
	padding-top:10px;
	padding-bottom:10px;
}
#orgList li{
	font-size: 18px;
}

.device-item{
	padding-bottom:10px;
	margin-top: 20px;
    border-left: 4px solid #007ad5;
	background-color: #fafafa;
	}
#sp_device_title{
	font-size: 25px;

}


.ul_device_list{
	padding-left: 0;
}
.gray_text{
	margin-left:5px;
	margin-right:40px;
	text-align:center;
	color: #8A8A8A;
    font-size: 20px;
}
.device-item_title_child{
	padding-left: 30px;
}
#sp_device_state{
	font-size: 18px;
	background-color:#c0c0c0;
	padding:3px 15px 3px 15px;
	color: #8A8A8A;
	margin-left: 35px;
}
.div_item_child{
	margin-top:10px;
	margin-bottom: 10px;
	padding-left: 30px;
}
.table-options{
	display:inline-block;
}

	.deviceCallLog td{
			height: 40px;
			padding-top:4px;
			padding-bottom:4px;
			height: 40px;
			/* line-height: 40px; */
			text-align: center;
			font-size:14px;
			padding-left: 25px;
    		padding-right: 25px;
    		word-break: keep-all;
			white-space:nowrap;
	}
	
	.deviceCallLog .changeTd{
		overflow: hidden;
		/* max-width: 80px;
		min-width: 80px; */
		max-width: 110px;
    	min-width: 30px;
	}
	
	.deviceCallLog .bigTd{
		vertical-align: middle;
	   	max-width: 125px;
	    min-width: 70px;
		/* max-width: 130px;
		min-width: 130px; */
	}
	
  .deviceCallLog th {
			height: 40px;
			line-height: 40px;
			width: auto;
			padding-top:5px;
			padding-bottom:5px;
			margin-right: 5px;
			font-size:15px;
			white-space: nowrap;
	}
	
	.roleManage{
		display: none;
	}
	
	/**用户管理 */
	.userManage{
		display: none;
	}
	/**设备管理*/
	.deviceManage{
		display: none;
	}
	
	/**查询通话记录*/
	.callLogSelect{
		display: none;
	}
	/**通话记录维护  */
	.callLogDelete{
		display: none;
	}
	
	/**录音查询  */
	.recordSelect{
		display: none;
	}
	
	/**发布通讯录*/
	.contactInsert{
		display:none;
	}
	
	/**查找通讯录*/
	.contactSelect{
		display: none;
	}
	/**通讯录维护  */
	.contactDelete{
		display: none;
		cursor: pointer;
	}
	
	.taskInsert,.taskSelect,.taskDelete{
		display: none;
	}
	
	
	.inscribe a{
		font-size: 14px;
		color: #000000;
		
	}
	.inscribe span{
		font-size: 14px;
		color: #000000;
		
	}
	
	br{
		height: 5px;
		line-height: 5px;
	}
	
	
	/** menu */
	
	  #menu ul,#menu a{
            font-size: 18px;
            list-style: none;
            text-decoration: none;
            background-color: #007ad5;
            color: #FFFFFF;
            cursor:pointer;
          /*   width: 100px;
            text-align: center; */
            /* border: 0px solid black;
            border-radius: 5px; */
            margin-top: 1px;
        }
        .nav> li{
        	padding-left: 20px;
    		padding-right: 20px;
        }
        #menu a{
        	
            display: block;
        }

        #menu .plat {
            display: none;
            padding: 0px;
            margin: 0px;
        }
     /*     .plat>li{
        	padding-left: 8px;
    		padding-right: 8px;
        } */
        .plat a{
        	padding-left: 33px;
    		padding-right: 33px;
        }
        #menu .nav{
             float: right;
             padding: 0px;
    		margin: 0px;
         }
        #menu .nav:hover .plat{
            display: block;
            clear: both;
        }
        #menu .plat li:hover>a{
            background-color: #49a1e2;
        }
	
	
	
	
	
